h2 {
    //text-shadow: 1px 1px 2px #000000;
    &:last-child {
        color: #1B4184 !important;
    }
    &:nth-of-type(2n) {
        color: #FF9401 !important;
    }
}

.dice-counter-list {
    //text-shadow: 1px 1px 2px #000000;

    &:nth-of-type(2n) {
        color: #1B4184 !important;
    }
    &:nth-of-type(2n + 1) {
        color:#FF9401 !important;
    }
}