.game__list {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -12%;
    bottom: 15px;
    pointer-events: none;
    background-image: linear-gradient(
      to right,
      #FFFFFF 85%,
      rgba(255, 255, 255, 0)
    );
    width: 15%;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 15px;
    pointer-events: none;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      #FFFFFF 85%
    );
    width: 15%;
  }
  .content::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  .content {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  div.game__content {
    width: 300px;
    display: block;
    transition: transform 0.4s;

    .game__content__header {
      max-height: 150px;
      overflow: hidden;
    }

    img {
      width: 100%;
      border-radius: 2em;
      object-fit: cover;
    }
  }

  div.game__content:hover {
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }
}
